.DS_Store
xcuserdata/
ryweather.xcodeproj/xcuserdata/ryan.xcuserdatad/xcschemes/xcschememanagement.plist
ryweather.xcodeproj/project.xcworkspace/xcuserdata/ryan.xcuserdatad/UserInterfaceState.xcuserstate
